.chatbox-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

.chat-page{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* background-color: #1b143e; */
}

.chat-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #bfb7dd; */
  /* color: #2c2043; */
  /* font-weight: bold; */
}